#up{
width:1000px;
height:390px;
overflow:hidden;
padding:3px;
}

#right,#left{
float: left;
width:500px;
height:400px;
overflow:hidden;
padding:3px;
}

.frame{
height:100%;
width:100%;
}
.btn{
background:#3c7170;
color:#fff;
cursor:pointer;
border-radius:10px;
}
.ui-resizable-helper { border: 2px dotted #00F; }